@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-primary: rgb(0, 0, 0);
		--color-primary-foreground: rgb(231, 233, 234);
		--color-accent: rgb(29, 155, 240);
		--color-border: rgb(47, 51, 54);
	}
}
